.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  
  
  .overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    pointer-events: none;
  }
  